* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h2 {
    margin-left: 20px;
}

#countdown {
    transition: all 0.1s ease;
}
/*----------------genealogy-scroll----------*/

.genealogy-scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
.genealogy-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}
.genealogy-scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
}
.genealogy-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}


/*----------------genealogy-tree----------*/
.genealogy-body{
    white-space: nowrap;
    overflow-y: hidden;
    padding: 50px;
    min-height: 500px;
    padding-top: 10px;
    text-align: center;
}
.genealogy-tree{
  display: inline-block;
}
.genealogy-tree ul {
    padding-top: 20px; 
    position: relative;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}
.genealogy-tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}
.genealogy-tree li::before, .genealogy-tree li::after{
    content: '';
    position: absolute; 
  top: 0; 
  right: 50%;
    border-top: 2px solid #ccc;
    width: 50%; 
  height: 18px;
}
.genealogy-tree li::after{
    right: auto; left: 50%;
    border-left: 2px solid #ccc;
}
.genealogy-tree li:only-child::after, .genealogy-tree li:only-child::before {
    display: none;
}
.genealogy-tree li:only-child{ 
    padding-top: 0;
}
.genealogy-tree li:first-child::before, .genealogy-tree li:last-child::after{
    border: 0 none;
}
.genealogy-tree li:last-child::before{
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.genealogy-tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.genealogy-tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #ccc;
    width: 0; height: 20px;
}
.genealogy-tree li a{
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.genealogy-tree li a:hover, 
.genealogy-tree li a:hover+ul li a {
	background: #c8e4f8;
	color: #000;
}

.genealogy-tree li a:hover+ul li::after, 
.genealogy-tree li a:hover+ul li::before, 
.genealogy-tree li a:hover+ul::before, 
.genealogy-tree li a:hover+ul ul::before{
    border-color:  #fbba00;
}

/*--------------memeber-card-design----------*/

.member-view-box{
    padding-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    position: relative;
    border: 1px;
    border-color: #e4e4e4;
    border-style: solid;
}
.member-image{
    padding:10px;
    width: 120px;
    position: relative;
}
.member-image img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-color :#fff;
    z-index: 1;
}
.member-header {
  padding: 5px 0;
  text-align: center;
  background: #345;
  color: #fff;
  font-size: 14px;
  border-radius: 4px 4px 0 0;
}
.member-footer {
  text-align: center;
}
.member-footer div.name {
  color: #000;
  font-size: 14px;
  margin-bottom: 5px;
}
.member-footer div.downline {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* CSS ASAS PELAKSANAAN */
.hero {
    position: relative;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.hero-content {
    position: relative;
    z-index: 2;
    color: white;
}
.hero h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 50px;
    font-weight: 600;
}
.hero .description, .hero .pkkmb {
    font-size: 30px;
}
.hero .pkkmb {
    font-weight: 700;
    margin-bottom: 0;
}
.custom-card {
    position: relative;
    margin: 40px auto;
    width: 90%;
    background-color: white;
    color: black;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    z-index: 5;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.new-card {
  position: relative;
  padding: 30px; 
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  z-index: 1;
  margin-bottom: 20px;
}

.new-card .flex { 
flex: 1 1 30%; 
  text-align: center;
  margin: 10px; 
}

.icon-bg {
  background-color: #e6f3ff;
  border-radius: 50%;
  width: 70px; 
  height: 70px; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; 
}   

.icon {
  color: #0066cc;
  font-size: 2rem; 
}

.new-card h2 {
  font-size: 1.25rem; 
  font-weight: bold; 
  margin-bottom: 10px; 
}

.new-card p {
  font-size: 1rem; 
  line-height: 1.5; 
  color: #333; 
}

.new-card button {
  background-color: #0066cc; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.new-card button:hover {
  background-color: #0099cc; 
}

.custom-card ol {
    padding-left: 2rem; 
}
.custom-card li {
    margin-bottom: 2rem; 
    color: #4A5073;
    font-weight: 300;
    line-height: 1.5; 
    font-size: larger;
    font-family: "Nunito Sans", sans-serif;
}
.custom-card li strong {
    font-weight: 600; 
}
.custom-card p {
    margin-top: 2rem;
}

.social-media-container {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .social-media-header {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .social-media-subheader {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .social-media-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-media-icon {
    margin: 0 10px;
    font-size: 40px;
    color: #333;
    margin-bottom: 20px; 
  }
  .social-media-container button {
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.social-media-container button:hover {
  background-color: #0069d9; 
}
  
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    h2,
    #countdown {
        margin: 10px 0px;
    }
}